/* poppins-200 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v24-latin-200.woff2') format('woff2'); 
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); 
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); 
}

:root {
    /* color */
    --grey-500: #4D4F62;
    --grey-400: #6A7178;
    --white: #FFFFFF;
    --red: #EA5454;
    --cyan: #44D3D2;
    --blue: #549EF2;
    --orange: #FCAE4A;

    /* spacing */
    --spacing-1: 0.5rem;
    --spacing-2: 1.0rem;
    --spacing-3: 1.5rem;
    --spacing-4: 2.0rem;
    --spacing-5: 2.5rem;

    /* fonts */
    --font-size-1: 0.8125rem;   /* 13px */
    --font-size-2: 0.9375rem;   /* 15px */
    --font-size-3: 1.25rem;     /* 20px */
    --font-size-4: 1.5rem;      /* 24px */
    --font-size-5: 2.25rem;     /* 36px */

    --font-weight-semibold: 600;
    --font-weight-regular: 400;
    --font-weight-light: 200;

    --line-height-large: 160%;
    --line-height-middle: 140%;
    --line-height-small: 135%;

    --letter-spacing-none: 0rem;
    --letter-spacing-spaced: 0.015625rem; /* 0.25px */

    /* font utility classes */
    --text-preset-1: normal normal var(--font-weight-semibold)
                    var(--font-size-4)/var(--line-height-middle)
                    'Poppins', sans-serif;
    --text-preset-2: normal normal var(--font-weight-light)
                    var(--font-size-4)/var(--line-height-middle)
                    'Poppins', sans-serif;
    --text-preset-3: normal normal var(--font-weight-semibold)
                    var(--font-size-3)/var(--line-height-small)
                    'Poppins', sans-serif;
    --text-preset-4: normal normal var(--font-weight-regular)
                    var(--font-size-2)/var(--line-height-middle)
                    'Poppins', sans-serif;
    --text-preset-5: normal normal var(--font-weight-regular)
                    var(--font-size-1)/var(--line-height-large)
                    'Poppins', sans-serif;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body, 
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    height: 100vh;
    gap: 3.5rem;
    padding: 3.5rem 2rem;
}

.header {
    width: auto;
    max-width: 33.75rem;
    gap: var(--spacing-2);
    color: var(--grey-500);
}
.header__title,
.header__subtitle {
  letter-spacing: var(--letter-spacing-spaced);
}
.header__title {
  font: var(--text-preset-2);
}
.header__subtitle {
  font: var(--text-preset-1);
}
.header__description {
  font: var(--text-preset-4);
  letter-spacing: 0.00625rem; /* 0.1px */
  text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-4);
}
.card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    height: 15.625rem; /* 250px */
    border-radius: 0.5rem;
    overflow: hidden;
    width: auto;
    position: relative;
    z-index: 2;
    box-shadow: 0rem 0.9375rem 1.875rem -0.6875rem #83A6D280;
    padding: var(--spacing-4);
    gap: var(--spacing-4);
}
.card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 0.25rem solid transparent;
}
.card[data-id="supervisor"]::before { border-color: var(--cyan);}
.card[data-id="builder"]::before { border-color: var(--red);}
.card[data-id="karma"]::before { border-color: var(--orange);}
.card[data-id="calculator"]::before { border-color: var(--blue);}

.card__text-divider {
  width: 15.625rem; /* 250px */
  display: flex;
  flex-direction: column;
  gap: 0.375rem; /* 6px */
}

.card__title {
  font: var(--text-preset-3);
  color: var(--grey-500);
}
.card__description {
  font: var(--text-preset-5);
  letter-spacing: 0.005625rem; /* 0.09px */
  color: var(--grey-400)
}
.card__image {
  align-self: flex-end;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }